# Environment
ENV=dev

# MongoDB
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=novaland_tour

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# CORS
FRONTEND_URL=http://localhost:3000
